<footer class="pt-4 pl-5 pt-md-5">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 ml-2">&copy; 2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a href="#">Team feature</a>
                </li>
                <li>
                    <a href="#">Developers</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a href="#">Resource</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a href="#">Team</a>
                </li>
                <li>
                    <a href="#">Locations</a>
                </li>
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row pb-3">
        <div><i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </div>
        <div class="ml-3"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        </div>
        <div class="ml-3"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</footer>