<form method="POST" action="/reset" class="mt-5">
    <div class="form-group">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col text-center">
                            <h2>Retrieve Password</h2>
                            <p class="text-h3">Please enter email you registered with.</p>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input type="email" name="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-start">
                        <div class="col">
                            <div class="">
                                <input type="submit" class="btn mt-4"></input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>